<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${LOCALAPPDATA}/plumpIT/plumpIT.log</file>
    <append>true</append>
    <!-- set immediateFlush to false for much higher logging throughput -->
    <immediateFlush>true</immediateFlush>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${LOG_ROOT}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
      <!-- each archived file's size will be max 10MB -->
      <maxFileSize>50MB</maxFileSize>
      <!-- 30 days to keep -->
      <maxHistory>10</maxHistory>
      <!-- total size of all archive files, if total size > 10GB, it will delete old archived file -->
      <totalSizeCap>1GB</totalSizeCap>
    </rollingPolicy>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{dd MMM yyyy;HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="FILE" />
  </root>
</configuration>